#p{

    background-color:pink;
}
#r{
    background-color:aqua;
}
#e{
    background-color:red;
}
#t{

    background-color:lightblue;
}
#h{
    background-color: rgb(25, 50, 75);
}
#fpara{
    color:blue;
    background-color:yellow;
}
#spara{
    color:green;
    background-color:yellow;
}
#tpara{
    color:red;
    background-color:blue;
}

#fifth{
    background-color:orange;
}
table{
    color:blue;
    background-color:orange;
}


